.Cuadrao{
    background-color: rgb(39, 39, 39);
    text-align: center;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    height: 70em;
    width: auto;
    margin: 6em;
}

.Body{
    background-image: linear-gradient(rgba(87, 215, 253, 0.692), rgba(0, 162, 255, 0.658), rgba(170, 26, 170, 0.623));
}



.Cuadrao h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-fill-color: white;
    font-weight: bolder;
    padding-top: 50px;
}

.Cuadrao div.Recuadro{
    background-color: rgb(211, 26, 26);
    text-align: center;
    height: 5em;
    width: 10em;
}

