.Cuadrao{
    
    background-color: rgb(39, 39, 39);
    text-align: center;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    aspect-ratio: 3 / 1.4;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 5%;
    margin-right: 5%;
}

.Body{
    background-color: rgba(117, 87, 253, 0.712);
}

.Cuadrao h1{
    font-family: 'Tinos';
    -webkit-text-fill-color: white;
    font-weight: bolder;
    padding-top: 50px;
}

.Cuadrao div.Localizador{
    display: flex;
    justify-content: space-around;
    margin-top: 6rem;
}

.Cuadrao div.Cuadrito{
    background-image: linear-gradient(rgb(53, 17, 255),rgb(80, 5, 199),rgb(120, 36, 255));
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(29, 29, 29, 0.5);
    margin: 2rem;
    width: 15rem;
    height: 18rem;
}

.Cuadrao h1.Minombre{
    padding-top: 20px;
}